<section>
    <div align="right">
      <img src="<%= image_url('minha-area.png') %>" class="minha-area" alt="corona virus">
    </div>

    <div style="margin-top: 50px;" align="center"></div>
    <div>
      <iframe
        src="https://www.google.com/maps/embed?pb=!1m10!1m8!1m3!1d14639.433016428047!2d-46.3145073!3d-23.4655769!3m2!1i1024!2i768!4f13.1!5e0!3m2!1spt-BR!2sbr!4v1590104375065!5m2!1spt-BR!2sbr"
        width="700"
        height="400"
        frameborder="0"
        style="border: 0;"
        allowfullscreen=""
        aria-hidden="false"
        tabindex="0"
      ></iframe>
    </div>
  </div>
</section>

<style>
  .minha-area {
    border-radius: 40px;
    height: 400px;
  }
</style>