<!DOCTYPE html>
<html lang="pt-br">
<style type="text/css">
  *, *:before, *:after {
  margin:0;
  padding:0;
}

:root {
  --hue-neutral: 200;
  --hue-wrong: 0;
  --hue-correct: 145;
}
.container {
  width: 30vw;
  height: 50vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #0059A0; 
  border-radius: 5px;
  padding: 10px;
  position: relative;

}
.container3{
 
  width: 28vw;
  height: 20vh;  
  top: -56px; 
  position: relative;
  justify-content: center;
  align-items: center;

}

.question-container{
  text-align: center;
}

.question{
  font-family: 'Raleway', sans-serif;
  color: white;
  font-size: 20px;
  text-align: center;
}

.btn-grid {
  display: grid;
  grid-template-columns: repeat(2, auto);
  gap: 10px;
  margin: 20px 0;
  font-family: 'Oswald-Bold', sans-serif;
}

.btn {
  --hue: var(--hue-neutral);
  background-color: hsl(var(--hue), 100%, 50%);
  border-radius: 50px;
  padding: 5px ;
  color: white;
  outline: none;
  position: relative;
  top: 100px;
  border-radius:28px;
  display:inline-block;
  cursor:pointer;
  color:#ffffff;
  font-size:17px;
  font-family: 'Oswald-Bold', sans-serif;
  padding:10px 31px;
  text-decoration:none;
}


.btn.correct {
  --hue: var(--hue-correct);
  color: black;
  font-family: 'Oswald-Bold', sans-serif;

}

.btn.wrong {
  --hue: var(--hue-wrong);
  font-family: 'Oswald-Bold', sans-serif;
}


.start-btn, .next-btn {
  font-size: 1.5rem;
  font-weight: bold;
  background-image: url(/assets/icone.png);
  background-position: right;
  background-repeat: no-repeat;
  padding: 10px 20px;
  background-color:#ff8d02;
  font-family: 'Oswald-Bold', sans-serif;
  border-radius:28px;
  border:1px solid #18ab29;
  display:inline-block;
  cursor:pointer;
  color:#191970;
  font-family:Arial;
  font-size:17px;
  padding:16px 31px;
  text-decoration:none;
}

.start-btn:hover {
  background-color:#ffbf71;
  color: #191970;
}

.next-btn:hover {
  background-color:#ffbf71;
  color: #191970;
}

.controls {
  display: flex;
  justify-content: center;
  align-items: center;
}

.hide {
  display: none;
}

.doctor{
  position: relative; 
  left: 100px;
  top: -400px;
}
.icon2{
  position: relative; 
  left: 400px;
  bottom: 560px;
}

</style>

<body style="background-image: url(<%= asset_path("fundoquiz.jpg")%>); background-repeat: no-repeat; ">
  <div style="margin-top: 200px;">
  </div>
  <div class="container">
    <div class="container3">
    <div id="question-container" class="hide">
      <div id="question" class="question">Question</div>
      <div id="answer-buttons" class="btn-grid">
        <button class="btn">Answer 1</button>
        <button class="btn">Answer 2</button>
        <button class="btn">Answer 3</button>
        <button class="btn">Answer 4</button>
      </div>
    </div>
   <div class="controls">
      <button id="start-btn" class="start-btn btn">COMEÇAR</button>
      <button id="next-btn" class="next-btn btn hide">PRÓXIMO</button>
    </div>
  </div>
  </div>

  <img style="max-width: 20%"; src="<%= image_url('doctor.png') %>" class="doctor" >
  <img style="max-width: 5%" src="<%= image_url('icon2.png') %>" class="icon2" >
</body>
</html>

<script>
const startButton = document.getElementById('start-btn')
const nextButton = document.getElementById('next-btn')
const questionContainerElement = document.getElementById('question-container')
const questionElement = document.getElementById('question')
const answerButtonsElement = document.getElementById('answer-buttons')

let shuffledQuestions, currentQuestionIndex

startButton.addEventListener('click', startGame)
nextButton.addEventListener('click', () => {
  currentQuestionIndex++
  setNextQuestion()
})

function startGame() {
  startButton.classList.add('hide')
  shuffledQuestions = questions.sort(() => Math.random() - .4)
  currentQuestionIndex = 0
  questionContainerElement.classList.remove('hide')
  setNextQuestion()
}

function setNextQuestion() {
  resetState()
  showQuestion(shuffledQuestions[currentQuestionIndex])
}

function showQuestion(question) {
  questionElement.innerText = question.question
  question.answers.forEach(answer => {
    const button = document.createElement('button')
    button.innerText = answer.text
    button.classList.add('btn')
    if (answer.correct) {
      button.dataset.correct = answer.correct
    }
    button.addEventListener('click', selectAnswer)
    answerButtonsElement.appendChild(button)
  })
}

function resetState() {
  clearStatusClass(document.body)
  nextButton.classList.add('hide')
  while (answerButtonsElement.firstChild) {
    answerButtonsElement.removeChild(answerButtonsElement.firstChild)
  }
}

function selectAnswer(e) {
  const selectedButton = e.target
  const correct = selectedButton.dataset.correct
  setStatusClass(document.body, correct)
  Array.from(answerButtonsElement.children).forEach(button => {
    setStatusClass(button, button.dataset.correct)
  })
  if (shuffledQuestions.length > currentQuestionIndex + 1) {
    nextButton.classList.remove('hide')
  } else {
    startButton.innerText = 'JOGAR NOVAMENTE'
    startButton.classList.remove('hide')
  }
}

function setStatusClass(element, correct) {
  clearStatusClass(element)
  if (correct) {
    element.classList.add('correct')
  } else {
    element.classList.add('wrong')
  }
}

function clearStatusClass(element) {
  element.classList.remove('correct')
  element.classList.remove('wrong')
}

const questions = [
  {
    question: 'O Covid-19 é um vírus novo que tem causado muitas mortes ao redor do mundo.',
    answers: [
      { text: 'Verdadeiro', correct: true },
      { text: 'Falso', correct: false }
    ]
  },
  {
    question: 'Os sinais clínicos do Coronavírus são principalmente respiratórios, febre, tosse e dificuldade para respirar.',
    answers: [
      { text: 'Verdadeiro', correct: true },
      { text: 'Falso', correct: false },
    ]
  },
  {
    question: 'Pessoas com doenças respiratórias, diabetes ou gestantes não estão no grupo de risco e devido a isso podem andar pela cidade tranquilamente.',
    answers: [
      { text: 'Verdadeiro', correct: false },
      { text: 'Falso', correct: true },
    ]
  },
  {
    question: 'Caso a pessoa não esteja no grupo de risco ela ainda deverá ficar em casa para não transmitir ou adquirir o vírus.',
    answers: [
      { text: 'Verdadeiro', correct: true },
      { text: 'Falso', correct: false }
    ]
  },
  {
    question: 'Caso venha a contrair o vírus, a melhor forma de tratamento é beber água quente ou chá, para elimina-lo',
    answers: [
      { text: 'Verdadeiro', correct: false },
      { text: 'Falso', correct: true }
    ]
  },
  {
    question: 'Como ato de se prevenir da Covid-19, é essencial evitar passar as mãos em corrimões, pois o coranavírus sobrevive até 12 horas em superfícies metálicas.',
    answers: [
      { text: 'Verdadeiro', correct: true },
      { text: 'Falso', correct: false }
    ]
  },
  {
    question: 'O 1º país a anunciar 100% de efetividade na vacina contra o Covid-19 é o país Cuba',
    answers: [
      { text: 'Verdadeiro', correct: false },
      { text: 'Falso', correct: true }
    ]
  },
  {
    question: 'Andar de carro com o ar condicionado ligado pode facilitar a transmissão do corona vírus.',
    answers: [
      { text: 'Verdadeiro', correct: true },
      { text: 'Falso', correct: false }
    ]
  },
  {
    question: 'Tendo em vista que a Covid-19 é um vírus "novo", podemos concluir que a taxa de mortalidade é maior que de outros vírus já existentes.',
    answers: [
      { text: 'Verdadeiro', correct: false },
      { text: 'Falso', correct: true }
    ]
  },
  {
    question: 'Como a tecnologia anda ao nosso lado diariamente e nossos celulares se tornam um grande aliado, então podemos concluir que a tela do celular pode ser um possível transmissor do vírus.',
    answers: [
      { text: 'Verdadeiro', correct: true },
      { text: 'Falso', correct: false }
    ]
  }

]
</script>