
<body style="background-image: url(<%= asset_path("fundo.jpg")%>); background-repeat: no-repeat">
  <div class="container" >
   <img src="<%= image_url('icone.png') %>" class="icone" alt="icone covid"> 
   <div style="margin-top: 100px;">
   </div>
<form class="new_user" id="new_user" action="/users/sign_in" accept-charset="UTF-8" method="post"><input type="hidden" name="authenticity_token" value="mZ0OVfBpi/gMzQiflEz5yHK5/3WYwTxWUL6YieDY+g5E3CCH8ewbznpS4N9qeR42mduyIIrQ4qCssaTTUL3FBg==" />
  <div class="field">

    <div class="content">
      <!--FORMULÃRIO DE LOGIN-->
      <div id="login">
        <form method="post" action=""> 
          <h1>Login</h1> 
          <p> 
            <label for="email_login">Seu email</label>
         <input autofocus="autofocus" autocomplete="email" type="email" value="" name="user[email]" id="user_email" placeholder="ex. contato@gmail.com" />
          </p>
          </
           </div>
          <div class="field">
          <p> 
            <label for="senha_login">Sua senha</label>
            <input autocomplete="current-password" type="password" name="user[password]" id="user_password" placeholder="ex. 1234" />
          </p>
          </div>
           <div class="field"> 
          <a> 
            <input name="user[remember_me]" type="hidden" value="0" /><input type="checkbox" value="1" name="user[remember_me]" id="user_remember_me" />
            <label for="user_remember_me">Lembrar login</label>
          </a>
           </div>
          <p> 
            <input type="submit" value="Logar" />
          </p>

          <p>
            <a href="/users/password/new">Esqueceu a senha?</a><br />
          </p>
            <p>
              <a href="/users/sign_up">Cadastre-se</a><br />
            </p>
          
           
         
        </form>
      </div>
 
     
          </p>
        </form>
      </div>
    </div>
  </div>  
</body>
</html>