@media (min-width: 576px) { .nk-footer-top { padding-bottom: 3.75rem; } }

@media (min-width: 576px) { .nk-page-head-text { padding: 1.5rem 0 3rem; }
  .nk-page-head-text .subtitle { font-size: 1.125rem; margin-bottom: .125rem; letter-spacing: 0.1em; }
  .nk-page-head-text .title + p { padding-top: 1rem; } }
@media (min-width: 992px) { .nk-page-head-wrap { display: flex; align-items: center; justify-content: space-between; }
  .nk-page-head-image { display: block; } }

  @media (min-width: 992px) and (max-width: 1199px) { .nk-menu { margin: 0 -.75rem; }
  .nk-menu li { padding: 0 .75rem; } }

  @media (min-width: 992px) { .nk-menu { display: flex; align-items: center; margin: 0 -1.25rem; }
  .nk-menu li { padding: 0 1.25rem; }
  .nk-menu li a { padding: .5rem 0; font-size: 0.9375rem; color: #50658e; }
  .nk-menu li a:hover, .nk-menu li a.active { color: #2a81ea; }
  .tc-light .nk-menu li a { color: #fff; }
  .tc-light .nk-menu li a:hover, .tc-light .nk-menu li a.active { color: #2a81ea; }
  .is-light.has-fixed .nk-menu li a { color: #50658e; }
  .is-light.has-fixed .nk-menu li a:hover, .is-light.has-fixed .nk-menu li a.active { color: #2a81ea; }
  .nk-menu-btns { display: flex; align-items: center; padding: 0 0 0 2.25rem; } }

  @media (min-width: 768px) { .section { overflow-x: hidden; }
  .section-m { padding: 70px 0; }
  .section-l { padding: 90px 0; }
  .section-head { padding-bottom: 60px; }
  .section-subhead { padding-bottom: 45px; }
  .section-cta { padding-top: 70px; } }
@media (min-width: 992px) { .section { overflow-x: hidden; }
  .section-m { padding: 80px 0; }
  .section-l { padding: 120px 0; }
  .section-head { padding-bottom: 70px; }
  .section-subhead { padding-bottom: 50px; }
  .section-actions { padding-top: 60px; }
  .section-cta { padding-top: 90px; } }

  @media (min-width: 576px) { .section-m { padding: 60px 0; }
  .section-l { padding: 70px 0; }
  .section-head { padding-bottom: 50px; }
  .section-head .subtitle { font-size: 1.125rem; margin-bottom: .125rem; letter-spacing: 0.1em; }
  .section-head .title + p { padding-top: 1rem; }
  .section-subhead { padding-bottom: 40px; }
  .section-subhead .title { font-size: 1.875rem; }
  .section-actions { padding-top: 40px; margin: -1rem; }
  .section-actions li { padding: 1rem; }
  .section-cta { padding-top: 40px; }
  .section-cta .notes .icon { font-size: 2.75rem; width: 4rem; }
  .section-content-boxed { padding: 2.25rem 2.5rem 2.5rem; } }

  @media (min-width: 576px) { .wgs-head { padding: 1.25rem 1.875rem; }
  .wgs-list li a { padding: 1.125rem 1.875rem; } }
@media (min-width: 992px) and (max-width: 1199px) { .wgs-head { padding: 1.25rem 1.5rem; }
  .wgs-list li a { padding: 1.125rem 1.5rem; } }

  @media (min-width: 576px) { .nav-tabs-btns .nav-link { padding: .875rem 1.875rem .875rem 1.875rem; } }
@media (min-width: 992px) { .nav-tabs-btns .nav-link { padding: .6875rem 1.125rem .6875rem 1.25rem; } }

@media (max-width: 575px) { .accordion-content p, .accordion-content ul { font-size: 0.875rem; } }
@media (min-width: 576px) { .accordion-title { padding: 1.25rem 4.375rem 1.25rem 1.875rem; }}
@media (min-width: 576px) { .protect-item.negative { flex-direction: row-reverse; text-align: right; }
  .negative .protect-gfx { margin-left: 1rem; }
  .positive .protect-gfx { margin-right: 1rem; }
  .protect-text .title { font-size: .9375rem; margin-bottom: 0; } }
@media (min-width: 992px) { .protect-gfx:before { position: absolute; top: 50%; width: 80px; content: ''; border-bottom: 1px dashed #7fb3f2; }
  .negative .protect-gfx:before { left: 100%; }
  .positive .protect-gfx:before { right: 100%; } }
@media (min-width: 992px) and (max-width: 1200px) { .protect-gfx { height: 72px; width: 72px; }
  .protect-block-gfx { margin-top: 10px; } }
@media (min-width: 1200px) { .protect-gfx:before { width: 140px; }
  .protect-block-gfx { margin-top: 20px; } }
@media (max-width: 575px) { .protect-item { flex-direction: column; }
  .protect-gfx { margin-left: auto; margin-right: auto; }
  .protect-text { text-align: center; padding-top: .75rem; } }

  @media (min-width: 576px) { .blog-image { padding: 1.875rem 1.875rem 0; }
  .blog-text { padding: 1.75rem 1.875rem; }
  .blog-text .title { letter-spacing: -0.025em; margin-bottom: 0.875rem; font-size: 1.25rem; } }

@media (min-width: 576px) { .list-block .title { font-size: 1.875rem; margin-bottom: 2rem; } }
@media (min-width: 576px) { .feature { padding: 1.5rem 1.875rem 1.6875rem; } }
@media (min-width: 576px) { .box5 { padding: 2.375rem 2.5rem; } }
@media (min-width: 1200px) { .box4-gfx { height: 120px; width: 120px; } }
@media (min-width: 576px) { .box2 { height: calc(100% - 2.5rem); margin-top: 2.5rem; }
  .box2-gfx { width: 80px; right: 1.875rem; top: -2.5rem; }
  .box2-content { padding: 1.5rem 1.875rem 1.6875rem; } }
@media (min-width: 992px) { .box2-content { padding: 1.25rem 1.875rem 1.5rem; }
  .box2-content .title { margin-bottom: 0.6875rem; padding-right: 80px; } }
@media (min-width: 992px) and (max-width: 1199px) { .box2-content { padding-left: 1.5em; padding-right: 1.5em; } }
@media (min-width: 576px) { .box-content { padding: 1.25rem 1.875rem 1.5rem; }
  .box-content .title { margin-bottom: 1rem; } }
@media (min-width: 992px) and (max-width: 1199px) { .box-content { padding-left: 1.5em; padding-right: 1.5em; } }
@media (min-width: 576px) { .text-block .title + p { padding-top: 0.875rem; }
  .text-block .title + p.lead { padding-top: 1.25rem; } }
  @media (max-width: 991px) { .nk-banner-image { max-width: 400px; margin-left: auto; margin-right: auto; } }
@media (min-width: 992px) { .nk-banner-image { margin-left: -130px; margin-right: -40px; } }
@media (min-width: 1200px) { .nk-banner-block .heading { font-size: 5.25rem; margin-bottom: 1.75rem; }
  .nk-banner-block .heading-sm { margin-top: .4375rem; margin-left: 0.5rem; }
  .nk-banner-block .heading-sm .sup { font-size: 1.75rem; }
  .nk-banner-block .heading-sm .sub { font-size: 3rem; }
  .nk-banner-block .status { padding-top: 80px; }
  .nk-banner-btns { padding-top: 1.25rem; }
  .nk-banner-image { margin-left: -130px; margin-right: -60px; } }
@media (min-width: 1540px) { .nk-banner-block { margin-right: -20px; }
  .nk-banner-block .content p { font-size: 1.125rem; }
  .nk-banner-block .heading { font-size: 6.25rem; }
  .nk-banner-block .heading-sm .sup { font-size: 2rem; }
  .nk-banner-block .heading-sm .sub { font-size: 3.5rem; }
  .nk-banner-block .status { padding-top: 120px; }
  .nk-banner-image { margin-left: -20px; margin-right: -185px; } }

@media (min-width: 576px) { .nk-banner { min-height: 100vh; }
.nk-banner-block .content { padding: 44px 0 30px; }
.nk-banner-block .heading { font-size: 4.5rem; margin-bottom: 1rem; }
.nk-banner-block .heading-sm { margin-top: .375rem; margin-left: 0.5rem; }
.nk-banner-block .heading-sm .sup { font-size: 1.375rem; }
.nk-banner-block .heading-sm .sub { font-size: 2.5rem; margin-top: 0; }
.nk-banner-block .status { padding-top: 60px; }
.nk-banner-btns { margin: -.5rem -1.25rem; padding-top: .5rem; }
.nk-banner-btns li { padding: .5rem 1.25rem; } }
@media (min-width: 576px) { .btn { padding: 0.6875rem 1.75rem; line-height: 1.5rem; font-size: 1rem; }
  .btn-sm { padding: 0.4375rem 1.375rem; }
  .btn-transparent { padding-left: 0; padding-right: 0; }
  .btn .icon { font-size: 1.125rem; line-height: 1.5rem; }
  .btn span + .icon, .btn .icon + span { padding-left: 0.75rem; } }
  @media (min-width: 576px) { .gy-sm-m { margin-top: -22.5px; margin-bottom: -22.5px; }
  .gy-sm-m > div, .gy-sm-m > li { padding-top: 22.5px; padding-top: 22.5px; } }
@media (min-width: 992px) { .wide-lg { width: 730px; } }
@media (min-width: 576px) { p { margin-bottom: 1rem; }
  p:last-child { margin-bottom: 0; }
  p.lead { font-size: 1.25rem; }
  h1, .h1, .fz-1 { font-size: 2.75rem; }
  h2, .h2, .fz-2 { font-size: 2.5rem; }
  h3, .h3, .fz-3 { font-size: 1.75rem; }
  h4, .h4, .fz-4 { font-size: 1.5rem; }
  h5, .h5, .fz-5 { font-size: 1.25rem; } }
  @media (min-width: 420px) {
    .text-mb-left {
      text-align: left !important; }
  
    .text-mb-right {
      text-align: right !important; }
  
    .text-mb-center {
      text-align: center !important; } }
  @media (min-width: 576px) {
    .text-sm-left {
      text-align: left !important; }
  
    .text-sm-right {
      text-align: right !important; }
  
    .text-sm-center {
      text-align: center !important; } }
  @media (min-width: 768px) {
    .text-md-left {
      text-align: left !important; }
  
    .text-md-right {
      text-align: right !important; }
  
    .text-md-center {
      text-align: center !important; } }
  @media (min-width: 992px) {
    .text-lg-left {
      text-align: left !important; }
  
    .text-lg-right {
      text-align: right !important; }
  
    .text-lg-center {
      text-align: center !important; } }
  @media (min-width: 1200px) {
    .text-xl-left {
      text-align: left !important; } 
      .text-xl-right {
        text-align: right !important; }
    
      .text-xl-center {
        text-align: center !important; } }
        @media (min-width: 420px) {
          .float-mb-left {
            float: left !important; }
        
          .float-mb-right {
            float: right !important; }
        
          .float-mb-none {
            float: none !important; } }
        @media (min-width: 576px) {
          .float-sm-left {
            float: left !important; }
        
          .float-sm-right {
            float: right !important; }
        
          .float-sm-none {
            float: none !important; } }
        @media (min-width: 768px) {
          .float-md-left {
            float: left !important; }
        
          .float-md-right {
            float: right !important; }
        
          .float-md-none {
            float: none !important; } }
        @media (min-width: 992px) {
          .float-lg-left {
            float: left !important; }
        
          .float-lg-right {
            float: right !important; }
        
          .float-lg-none {
            float: none !important; } }
        @media (min-width: 1200px) {
          .float-xl-left {
            float: left !important; }
        
          .float-xl-right {
            float: right !important; }
        
          .float-xl-none {
            float: none !important; } }
            @media (min-width: 1200px) {
              .flex-xl-row {
                flex-direction: row !important; }
            
              .flex-xl-column {
                flex-direction: column !important; }
            
              .flex-xl-row-reverse {
                flex-direction: row-reverse !important; }
            
              .flex-xl-column-reverse {
                flex-direction: column-reverse !important; }
            
              .flex-xl-wrap {
                flex-wrap: wrap !important; }
            
              .flex-xl-nowrap {
                flex-wrap: nowrap !important; }
            
              .flex-xl-wrap-reverse {
                flex-wrap: wrap-reverse !important; }
            
              .flex-xl-fill {
                flex: 1 1 auto !important; }
            
              .flex-xl-grow-0 {
                flex-grow: 0 !important; }
            
              .flex-xl-grow-1 {
                flex-grow: 1 !important; }
            
              .flex-xl-shrink-0 {
                flex-shrink: 0 !important; }
            
              .flex-xl-shrink-1 {
                flex-shrink: 1 !important; }
            
              .justify-content-xl-start {
                justify-content: flex-start !important; }
            
              .justify-content-xl-end {
                justify-content: flex-end !important; }
            
              .justify-content-xl-center {
                justify-content: center !important; }
            
              .justify-content-xl-between {
                justify-content: space-between !important; }
            
              .justify-content-xl-around {
                justify-content: space-around !important; }
            
              .align-items-xl-start {
                align-items: flex-start !important; }
            
              .align-items-xl-end {
                align-items: flex-end !important; }
            
              .align-items-xl-center {
                align-items: center !important; }
            
              .align-items-xl-baseline {
                align-items: baseline !important; }
            
              .align-items-xl-stretch {
                align-items: stretch !important; }
            
              .align-content-xl-start {
                align-content: flex-start !important; }
            
              .align-content-xl-end {
                align-content: flex-end !important; }
            
              .align-content-xl-center {
                align-content: center !important; }
            
              .align-content-xl-between {
                align-content: space-between !important; }
            
              .align-content-xl-around {
                align-content: space-around !important; }
            
              .align-content-xl-stretch {
                align-content: stretch !important; }
            
              .align-self-xl-auto {
                align-self: auto !important; }
            
              .align-self-xl-start {
                align-self: flex-start !important; }
            
              .align-self-xl-end {
                align-self: flex-end !important; }
            
              .align-self-xl-center {
                align-self: center !important; }
            
              .align-self-xl-baseline {
                align-self: baseline !important; }
            
              .align-self-xl-stretch {
                align-self: stretch !important; } }
                @media (min-width: 576px) {
                  .modal-dialog {
                    max-width: 500px;
                    margin: 1.75rem auto; }
                
                  .modal-dialog-scrollable {
                    max-height: calc(100% - 3.5rem); }
                    .modal-dialog-scrollable .modal-content {
                      max-height: calc(100vh - 3.5rem); }
                
                  .modal-dialog-centered {
                    min-height: calc(100% - 3.5rem); }
                    .modal-dialog-centered::before {
                      height: calc(100vh - 3.5rem); }
                
                  .modal-sm {
                    max-width: 300px; } }
                    @media (max-width: 419.98px) {
                      .table-responsive-mb {
                        display: block;
                        width: 100%;
                        overflow-x: auto;
                        -webkit-overflow-scrolling: touch; }
                        .table-responsive-mb > .table-bordered {
                          border: 0; } }
                    @media (max-width: 575.98px) {
                      .table-responsive-sm {
                        display: block;
                        width: 100%;
                        overflow-x: auto;
                        -webkit-overflow-scrolling: touch; }
                        .table-responsive-sm > .table-bordered {
                          border: 0; } }
                    @media (max-width: 767.98px) {
                      .table-responsive-md {
                        display: block;
                        width: 100%;
                        overflow-x: auto;
                        -webkit-overflow-scrolling: touch; }
                        .table-responsive-md > .table-bordered {
                          border: 0; } }
                    @media (max-width: 991.98px) {
                      .table-responsive-lg {
                        display: block;
                        width: 100%;
                        overflow-x: auto;
                        -webkit-overflow-scrolling: touch; }
                        .table-responsive-lg > .table-bordered {
                          border: 0; } }
                    @media (max-width: 1199.98px) {
                      .table-responsive-xl {
                        display: block;
                        width: 100%;
                        overflow-x: auto;
                        -webkit-overflow-scrolling: touch; }
                        .table-responsive-xl > .table-bordered {
                          border: 0; } }
                          @media (min-width: 420px) {
                            .container {
                              max-width: 414px; } }
                          @media (min-width: 576px) {
                            .container {
                              max-width: 540px; } }
                          @media (min-width: 768px) {
                            .container {
                              max-width: 720px; } }
                          @media (min-width: 992px) {
                            .container {
                              max-width: 960px; } }
                          @media (min-width: 1200px) {
                            .container {
                              max-width: 1140px; } }
                              @media (min-width: 420px) {
                                .container, .container-mb {
                                  max-width: 414px; } }
                                  @media (min-width: 576px) {
                                    .container {
                                      max-width: 540px; } }
                                  @media (min-width: 768px) {
    .container {
                                      max-width: 720px; } }
                                  @media (min-width: 992px) {
                                    .container {
                                      max-width: 960px; } }

